<%- include('../partials/header') %>

  <form action="/travels/<%= travel._id %>?_method=PUT" method="POST">
    <div>Name: <%= travel.user %> </div>
    <div>Image: <%= travel.userAvatar %> </div>
    <br>
    <h2>Make Changes Here</h2>
    <div>Country: <%= travel.country %></div> <input type="text" name="country" value="<% travel.country %>">
    <button>Update</button>
</form>
<%- include('../partials/footer') %>
