<%- include('../partials/header') %>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cabin Crew</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
    </style>
</head>

  <form class= "container" action="/travels/<%= travel._id %>?_method=PUT" method="POST">
    <div>Name: <%= travel.user %> </div>
    <div>Image: <%= travel.userAvatar %> </div>
    <br>
    <h2>Edit Your Journey Here:</h2>
    <label>Country:</label>
    <br>
    <textarea class="form-control" rows="1" id="comment" name="country" ><%= travel.country %></textarea>
    <br>
    <label>City:</label>
    <br>
    <textarea class="form-control" rows="1" id="comment" name="city" value=""><%= travel.city %></textarea>
    <br>
    <label>Date Visited:
    <input type="datetime-local" name="dateVisited" value="<%= travel.dateVisited.toISOString().slice(0,16) %>">
    <br>
    <div>Date Returned:
    <input type="datetime-local" name="dateReturned" value="<%= travel.dateReturned.toISOString().slice(0,16) %>">
    <br>
    <div>Most Memorable Moments:</div>
    <textarea class="form-control" rows="5" id="comment" name="memorableMoments" value=""><%= travel.memorableMoments %></textarea>
    <br>
    <div>Lessons Learned:</div>
    <textarea class="form-control" rows="5" id="comment" name="lessonsLearned" value=""><%= travel.lessonsLearned %></textarea>
    <br>
    <div>Advice:</div>
    <textarea class="form-control" rows="5" id="comment" name="advice" value=""><%= travel.advice %></textarea>
    <br>
    <div>Number of Children:</div>
    <textarea type="number" class="form-control" rows="1" id="comment" name="noChildren" value=""><%= travel.noChildren %></textarea>
    <br>
    <div>Age of Children:</div>
    <textarea type="text" class="form-control" rows="1" id="comment" name="ageChildren" value=""><%= travel.ageChildren %></textarea>
    <br>
    <label for="kidFriendlyRating">Select Kid Friendly Rating:</label>
    <select class="form-control" rows="1" id="kidFriendlyRating" name="kidFriendlyRating">
      <option value ='G'>G</option>
      <option value ='PG'>PG</option>
      <option value ='PG-13'>PG-13</option>
      <option value ='R'>R</option>
    </select>
    <br>
    <button type="Submit" button type="button" class="btn btn-info">Update</button>
</form>
<%- include('../partials/footer') %>
