<%- include('../partials/header') %>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cabin Crew</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <div class="jumbotron text-center">
    <h1>Cabin Crew</h1>
    <p>Join our Cabin Crew and embark on a journey that celebrates family, exploration, and the beauty of our planet.</p>
  </div>
</head>




<h2 class ="text-center">Where We've Landed!</h2>

<div class="container">
  <% if (travelDocs.length) { %>
  <table id="list" class="results">

  <div class="table-responsive">
  <table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Date Traveled</th>
      <th>Country</th>
      <th>City</th>
      <th> KF Rating</th>
      <th> More Info.</th>
      <th></th>
      <th></th>

    </tr>
  </thead>
  <tbody>
    <% travelDocs.forEach(function(t) { %>
      <% let newDate = t.dateVisited.toLocaleDateString() %>
      <tr>
        <td class="user"><img alt="avatar" src="<%= t.userAvatar %>" referrerpolicy="no-referrer" class="img-rounded"><%= t.userName %></td>
        <td><%= newDate %></td>
        <td><%= t.country %></td>
        <td><%= t.city %></td>
        <td><%= t.kidFriendlyRating %></td>
        <td><button><a href="/travels/<%= t._id %>">details</a></td></button>
        <td><% if (user && user._id.equals(t.user)) { %><button><a href="/travels/<%= t._id %>/edit">modify</a></button>
          <% } %>
        </td>
        <td><% if (user && user._id.equals(t.user)) { %>
        <form action="/travels/<%= t._id %>?_method=DELETE" method="POST">
        <button type="Submit">remove</button>
        </form>
           <% } %>
           </td>
    </tr>
      <% }); %>
  </tbody>
 </table>
 <% } else {%>
    <h5>No Travel Reviews</h5>
    <% } %>
  </div>

  </body>
  </html>
  <%- include('../partials/footer') %>
