<%- include('../partials/header') %>

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cabin Crew</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
    </style>
</head>


<h2 class ="text-center">Where We've Landed!</h2>

<div class="container">
  <% if (travelDocs.length) { %>
  <table id="list" class="text-center">

  <div class="table-responsive">
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Crew Member</th>
      <th>Date Traveled</th>
      <th>Country</th>
      <th>City</th>
      <th>Kid Friendly Rating</th>
      <th> More Info.</th>
      <th></th>
      <th></th>

    </tr>
  </thead>
  <tbody>
    <% travelDocs.forEach(function(t) { %>
      <tr>
        <td class="user"><img alt="avatar" src="<%= t.user.avatar %>" referrerpolicy="no-referrer" class="img-rounded"></td>
        <td><%= t.dateVisited.toLocaleDateString() %></td>
        <td><%= t.country %></td>
        <td><%= t.city %></td>
        <td><%= t.kidFriendlyRating %></td>
        <td><button type="button" class="btn btn-outline-primary"><a href="/travels/<%= t._id %>">details</a></td></button>
        <td><% if (user && user._id.equals(t.user._id)) { %><button type="button" class="btn btn-outline-primary" ><a href="/travels/<%= t._id %>/edit">modify</a></button>
          <% } %>
        </td>
        <td><% if (user && user._id.equals(t.user._id)) { %>
        <form action="/travels/<%= t._id %>?_method=DELETE" method="POST">
        <button type="Submit" button type="button" class="btn btn-info">remove</button>
        </form>
           <% } %>
           </td>
    </tr>
      <% }); %>
  </tbody>
 </table>
 <% } else {%>
    <h5>No Travel Reviews</h5>
    <% } %>
  </div>

  </body>
  </html>
  <%- include('../partials/footer') %>
