<%- include('../partials/header') %>
<h1>Welcome to Cabin Crew</h1>
<h2>Where We've Landed!</h2>
  <!-- <p>Introducing Cabin Crew, the ultimate web application for adventurous parents who love exploring the world with their children and want to share those unforgettable moments with a like-minded community. Cabin Crew is your personal travel diary, a digital haven where you can capture and immortalize your family's travel experiences, complete with photos, stories, and tips. But it's not just about your adventures; it's also a place to connect and engage with other parents, reading their travel diaries, leaving comments, and building a global network of fellow explorers. Dive into a world of inspiration, discover new destinations, and ignite your wanderlust as you explore the captivating stories shared by our passionate community of parents.</p>

  <p>Join Cabin Crew today and embark on a journey that celebrates family, exploration, and the beauty of our planet.</p> -->
  <% if (travelDocs.length) { %>
  <table id="list" class="results">
  <thead>
    <tr>
      <th>User</th>
      <th>Country</th>
      <th>City</th>
      <th> KF Rating</th>
      <th> More Info.</th>
      <th></th>
      <th></th>

    </tr>
  </thead>
  <tbody>
    <% travelDocs.forEach(function(t) { %>
      <tr>
        <td><%= t.userName %></td>
        <td><%= t.country %></td>
        <td><%= t.city %></td>
        <td><%= t.kidFriendlyRating %></td>
        <td><button><a href="/travels/<%= t._id %>">details</a></td></button>
        <td><% if (user && user._id.equals(t.user)) { %><button><a href="/travels/<%= t._id %>/edit">modify</a></button>
          <% } %>
        </td>
        <td><% if (user && user._id.equals(t.user)) { %>
        <form action="/travels/<%= t._id %>?_method=DELETE" method="POST">
        <button type="Submit">remove</button>
        </form>
           <% } %>
           </td>
    </tr>
      <% }); %>
  </tbody>
 </table>
 <% } else {%>
    <h5>No Travel Reviews</h5>
    <% } %>

    <%- include('../partials/footer') %>
