<%- include('../partials/header') %>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cabin Crew</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
    </style>
</head>

<div class="container">
<% if (user) {%>
  <h3 class="text-center">Travel Review</h3>
    <div class="text-center"><img alt="avatar" src="<%= travel.user.avatar %>" referrerpolicy="no-referrer" class="img-rounded" ></div>
    <br>
    <section class="text-center">
    <div>Date Visited: <%= travel.dateVisited.toLocaleDateString() %> </div>
    <div>Country: <%= travel.country %> </div>
    <div>City: <%= travel.city %></div>
    <div> Kid Friendly Rating: <%= travel.kidFriendlyRating %> </div>

    <br>
    <h4 class="badge bg-primary text-wrap">Most Memorable Moments:</h4>
    <div class="lh-lg block-text" style="text-align: justify;"> <%= travel.memorableMoments %> </div>
    <br>
    <h4 class="badge bg-primary text-wrap">Lessons Learned:</h4>
    <div class="lh-lg block-text" style="text-align: justify;"> <%= travel.lessonsLearned %> </div>
    <br>
    <h4 class="badge bg-primary text-wrap">Advice:</h4>
    <div class="lh-lg block-text" style="text-align: justify;"> <%= travel.advice %> </div>
    <br>
    <div> Number of Children: <%= travel.noChildren %> </div>
    <div> Age of Children: <%= travel.ageChildren %> </div>


<% } else { %>
    <h3>Please login to see travel diaries</h3>
<% } %>
</section>
<br>



<h3 class="text-center">Comments</h3>
<br>
<br>
<% if (user) { %>
  <form id="add-comment-form" method="POST" action="/travels/<%= travel._id %>/comments" class="text-center">
    <div class="mb-3 mt-3">
    <br>
    <textarea name="content" class="form-control" rows="5" id="comment"></textarea>
    <br>
    <label class="text-center">Please Indicate if You Plan To Visit:</label>
    <select class="text-center" name="futureVisit">
        <option value ="Yes">Yes</option>
        <option value ="No">No</option>
        <option value="Undecided">Undecided</option>
    </select>
    <br>
    <button type="Submit" button type="button" class="btn btn-info">Add Comment</button>
  </form>
<% } else { %>
  <h3>Please login to leave a comment</h3>
<% } %>
</div>
<br>
<br>


<% if (travel.comments.length, user) { %>
  <table id="list" class="results">
    <div class="table-responsive">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>User</th>
        <th>Comment</th>
        <th>Plan to Visit:</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% travel.comments.forEach(function(c) { %>
        <tr>
          <!-- // referrerpolicy we neecd to add this so google lets us use the avatar image -->
          <td class="comment-user"><img alt="avatar" src="<%= c.userAvatar %>" referrerpolicy="no-referrer" class="img-circle"><%= c.userName %></td>
          <td><%= c.content %></td>
          <td><%= c.futureVisit %></td>
          <td><% if (user && user._id.equals(c.user)) { %>
              <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                <button type="Submit" button type="button" class="btn btn-info">Remove Comment</button>
              </form>
            <% } %>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Comments Yet</h5>
<% } %>


<%- include('../partials/footer') %>
