<%- include('../partials/header') %>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cabin Crew</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<div class="jumbotron text-center" background-image = >
  <h1>Cabin Crew</h1>
  <p>Join our Cabin Crew and embark on a journey that celebrates family, exploration, and the beauty of our planet.</p>
</div>


<% if (user) {%>
<section id="show-page">
    <div>Name: <%= travel.user %> </div>
    <div>Image: <%= travel.userAvatar %> </div>
    <br>
    <div>Country: <%= travel.country %> </div>
    <div>City: <%= travel.city %></div>
    <div>Date Visited: <%= travel.dateVisited %> </div>
    <div> Date Returned: <%= travel.dateReturned %> </div>
    <div>Most Memorable Moments: <%= travel.memorableMoments %> </div>
    <div> Lessons Learned: <%= travel.lessonsLearned %> </div>
    <div> Advice: <%= travel.advice %> </div>
    <div> Number of Children: <%= travel.noChildren %> </div>
    <div> Age of Children: <%= travel.ageChildren %> </div>
    <div> Kid Friendly Rating: <%= travel.kidFriendlyRating %> </div>
</section>

<% } else { %>
    <h3>Please login to see travel diaries</h3>
<% } %>
<br>
<h2>Comments</h2>
<br>
<br>
<% if (user) { %>
  <form id="add-comment-form" method="POST" action="/travels/<%= travel._id %>/comments">
    <label>Add Comment:</label>
    <br>
    <textarea name="content"></textarea>
    <br>
    <label>Plan To Visit?:</label>
    <select name="futureVisit">
        <option value ="Yes">Yes</option>
        <option value ="No">No</option>
        <option value="Undecided">Undecided</option>
    </select>
    <br>
    <input type="submit" value="Add Comment">
  </form>
<% } else { %>
  <h3>Please login to leave a comment</h3>
<% } %>


<% if (travel.comments.length) { %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Comment</th>
        <th>Will <br> visit:</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% travel.comments.forEach(function(c) { %>
        <tr>
          <!-- // referrerpolicy we neecd to add this so google lets us use the avatar image -->
          <td class="comment-user"><img alt="avatar" src="<%= c.userAvatar %>" referrerpolicy="no-referrer" class="img-circle" ><%= c.userName %></td>
          <td><%= c.content %></td>
          <td><%= c.futureVisit %></td>
          <td><% if (user && user._id.equals(c.user)) { %>
              <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                <button type="Submit">Remove Comment</button>
              </form>
            <% } %>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Comments Yet</h5>
<% } %>


<%- include('../partials/footer') %>
